<div class="container">
    <div class="chatInterfaceCnt">
        <div class="chatInterface">
            <div class="chatBoxHeader">
                <img class="profile-pic" [src]="myDp" alt="profile pic" width="60" height="60">
                <div class="nameAndOnlineCnt">
                    <h2>Bharath</h2>
                    <p>Online</p>
                </div>
            </div>
            <div class="contactListCnt">
                <a routerLinkActive="active" routerLink="group" class="chatListCard">
                    <img class="profile-pic" [src]="groupDp" alt="profile pic" width="60" height="60">
                    <h3>Group Chat</h3>
                </a>

                <a routerLinkActive="active" routerLink="lokesh" class="chatListCard">
                    <img class="profile-pic" [src]="lokeshDp" alt="profile pic" width="60" height="60">
                    <h3>Lokesh</h3>
                </a>

                <a routerLinkActive="active" routerLink="nijantha" class="chatListCard">
                    <img class="profile-pic" [src]="nijanthaDp" alt="profile pic" width="60" height="60">
                    <h3>Nijantha</h3>
                </a>
            </div>
            <div class="messageContainer">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>