<div class="msgsCnt">
    <div class="recDpCnt">
        <img class="profile-pic" [src]="groupDp" width="60" height="60">
        <div class="DpName">
            <h2>Group</h2>
            <p>Bharath, Lokesh, Nijantha</p>
        </div>
    </div>

    <div class="actualMsgCnt">
        <div [ngClass]="{'rightMsg':i.senderName=='lokesh'}" *ngFor="let i of groupArr">
            <div [ngClass]="{'receivedMsg':false, 'sendMsg': i.senderName=='lokesh', 'msgModel' :true}">
                <div class="dp"><img class="profile-pic" [src]="i.senderDpPath" width="50" height="50"></div>
                <div class="msgContent">
                    <h3>{{i.senderName}}</h3>
                    <p>{{i.msg}}</p>
                    <span class="time">{{i.time}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="inputHolder">
        <div class="inputCnt">
            <input type="text" #msg><button (click)="send(msg.value)"><img src="">Send</button>
        </div>
    </div>
</div>